@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Modo claro */
  --primary: #d4af37;
  --primary-light: #e1bf64;
  --primary-dark: #b79522;

  --secondary: #0d0d0d;
  --secondary-light: #1c1c1c;
  --secondary-dark: #000000;

  --background: #f5f5f5;
  --background-light: #fafafa;
  --background-dark: #e5e5e5;
  --background-alt: #ffffff;

  --text-primary: #333333;
  --text-secondary: #4d4d4d;
  --text-placeholder: #9e9e9e;

  --border-color: #e1bf64;
  --border-color-hover: #d4af37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #1a1a1a;
    --secondary-light: #2e2e2e;
    --secondary-dark: #121212;

    --background: #1a1a1a;
    --background-light: #2e2e2e;
    --background-dark: #121212;
    --background-alt: #2b2b2b;

    --text-primary: #e5e5e5;
    --text-secondary: #bfbfbf;
    --text-placeholder: #777777;

    --border-color: #a67c00;
    --border-color-hover: #b79522;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px solid var(--background);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}
