@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Modo claro */
  --primary: #D4AF37; /* Dorado metálico premium */
  --primary-light: #E1BF64;
  --primary-dark: #B79522;

  --secondary: #0D0D0D; /* Negro profundo */
  --secondary-light: #1C1C1C;
  --secondary-dark: #000000;

  --background: #F5F5F5; /* Blanco perla */
  --background-light: #FAFAFA;
  --background-dark: #E5E5E5;

  --text-primary: #333333; /* Gris carbón */
  --text-secondary: #4D4D4D;
  --text-placeholder: #9E9E9E;

  --border-color: #E1BF64;
  --border-color-hover: #D4AF37;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Modo oscuro */
    --background: #1A1A1A;
    --background-light: #2E2E2E;
    --background-dark: #121212;

    --text-primary: #E5E5E5;
    --text-secondary: #BFBFBF;
    --text-placeholder: #777777;

    --header-background: #0D0D0D;
    
    --border-color: #E1BF64;
    --border-color-hover: #D4AF37;
  }
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px solid var(--background);
}

/* Soporte para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}
